$background-dark: #293241;
$background-overlay: #29324171;
$orange: #EE6C4D;
$background-light: #E0FBFC;
$yellow: #F4D35E;
$background-navy: #101a3d;
$background-stick: rgba(0, 0, 0, 0.521);
$background-effect: rgb(0, 0, 0);
$border-yellow: yellow;
$border-light: rgb(97, 94, 94);
$border-gold: #fae8ae;
$border-dango: #ccbf9d;
$background-dango: #f8e9c8;
$background-dango-selection: #fefde9;
$border-dango-selection: #433633;
