@import './colors';

.container-app{
    width: 100%;
    height: 100%;
    max-width: 2000px;
    background-color: $background-dango-selection;
    

    .container-dango-selection-stick{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &.large{
            height: 100%;
            .container-large-layout{
                width: 100%;
                height: 100%;
                display: flex;
                justify-self: center;
                align-items: center;
                margin-top: 3rem;
                .container-dango-stick{
                    width: 85%;
                    height: 100%;
                }
                .container-dango-selection{
                    width: 95%;
                }
            }  
        }
 
    }
}


@media screen and (min-width: 1201px){
    .container-app{
        .container-dango-selection-stick{
            .container-large-layout{
                max-height: 660px;
                .container-dango-stick{
                    width: 75%;
                }
                .container-dango-selection{
                    width: 85%;
                }
            }
        }
    }

}
