@import './colors';

.container-app{
    width: 100%;
    height: 100%;
    max-width: 2000px;
    background-color: $background-dango-selection;
    

    .container-dango-selection-stick{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
}


@media screen and (min-width: 1025px){
    .container-app{
        .container-dango-selection-stick{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row;

            .container-dango-stick{
                width: 40%;
                order: 1;
            }
            .container-dango-selection{
                order: 2;
            }
        }
    }
    
}