@import './colors';
@import './font';
.container-dango-selection{
    background-color: $background-dango-selection;
    width: 100%;
    height: 400px;
    overflow-x:hidden;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    .container-catagories{
        width: 100%;
        height: 20%;
        min-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow-x: auto;
        border-bottom: 3px solid $border-dango-selection;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        .top{
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            .catagory-btn{
                width: 100%;
                height: 100%;
                font-size: 1rem;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
            }
        }

        .bot{
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .catagory-btn{
                width: 100%;
                height: 100%;

            }
        }
        .catagory-btn{
            font-size: 0.85rem;
            letter-spacing: 1px;
            background-color: $background-dango-selection;
            color: $border-dango-selection;
            font-weight: 700;
            transition: all 250ms ease-in-out;
            &:hover{
                background-color: $border-gold;
            }
            &.active{
                background-color: $background-dango;                
            }
        }
    }
    .container-dangos{
        width:100%;
        height: 310px;
        overflow-y: scroll;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        transition: all 500ms ease-in-out;
        grid-template-rows: auto;
        gap: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        justify-content: center;

    }
}


@media screen and (min-width: 481px){
    .container-dango-selection{
        height: 500px;
        overflow-y: hidden;
        .container-dangos{
            width:100%;
            height: 375px;

        }
    }

}

@media screen and (min-width: 599px){
    .container-dango-selection{
        height: 525px;
        .container-dangos{
            width:100%;
            height: 375px;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 1fr
        }
    }
}
@media screen and (min-width: 769px){
    .container-dango-selection{
        height: 525px;
        .container-dangos{
            width:100%;
            height: 375px;
        }
    }
}
@media screen and (min-width: 1025px){
    .container-dango-selection{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        .container-catagories{
            width: 100%;
            height: 10%;
            align-items: center;
            flex-direction: row;
            .top{
                width: 25%;
                height: 100%;
                .catagory-btn{
                    font-size: 0.85rem;
                }
            }
            .bot{
                height: 100%;
            }
   
        }
    }
}
@media screen and (min-width: 1201px){
    
}
