@import './colors';
.container-dango-selection{
    background-color: $background-dark;
    width: 100%;
    height: 390px;
    overflow-x:hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .container-catagories{
        width: 100%;
        height: 20%;
        min-height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow-x: auto;
        .top{
            width: 100%;
            height: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            .catagory-btn{
                width: 100%;
                height: 100%;
                font-size: 1rem;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border-bottom: 4px solid $background-dark;
            }
        }

        .bot{
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .catagory-btn{
                width: 100%;
                height: 100%;
                border: 2px solid $background-dark;
                border-bottom: 1px solid $background-dark;
                border-top: none;
                &.first{
                    border-left: none;
                }
                &.last{
                    border-right: none;
                }
            }
        }
        .catagory-btn{
            font-size: 0.95rem;
            background-color: $yellow;
            &.active{
                background-color: $orange;
                color: $yellow;
                font-weight: 600;
            }
        }
    }
    .container-dangos{
        width:100%;
        height: 310px;
        overflow-y: scroll;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}