@import './colors';
@import './font';
.container-dango{
    width: 100%;
    height: 100%;
    min-height: 125px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $background-dango;
    border: 2px solid $border-dango;
    border-radius: 5px;

    &.active{
        position: relative;
        border: 2px solid $border-gold;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $background-overlay;
            z-index: 5;
            border-radius: 5px;


        }
    }

    .dango-img{
        width: 40%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            max-width: 100%;
            max-height: 100%;
        }

    }

    .dango-info{
        width: 55%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        .name{
            width: 100%;
            height: 35%;
            font-size: 0.85rem;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            border-bottom: 2px solid $border-dango;
            text-align: left;
            text-shadow: $shadow;
            color: #fff;
            h3{
                margin-left: 2px;
            }
        }
        .skill{
            height: 50%;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            font-size: 0.85rem;
            font-weight: 700;
            text-align: left;
            color: $border-dango-selection;
            p{
                margin-left: 2px;
            }
        }
    }
}