@import './colors';
@import './font';

.container-dango-effect{
    width: 100%;
    height: 100%;
    background-color: $background-effect;
    min-height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 2px;
    font-size: 0.95rem;
    border: 2px solid $border-light;

    .top{
        width: 90%;
        height: 30%;
        display: flex;
        justify-content: start;
        align-items: center;
        color: #fff;
        font-size: 0.85rem;
        h3{
            font-family: $text;

        }
    }
    .bot{
        width: 90%;
        height: 60%;
        display: flex;
        justify-content: start;
        align-items: flex-start;
        color: $yellow;
    }
}