@import './colors';

.container-dango{
    width: 100%;
    height: 100%;
    min-height: 125px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $background-light;

    &.active{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $background-overlay;
            z-index: 5;

        }
    }

    .dango-img{
        width: 40%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            max-width: 100%;
            max-height: 100%;
        }

    }

    .dango-info{
        width: 55%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        .name{
            width: 95%;
            height: 45%;
            font-size: 0.9rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .skill{
            height: 50%;
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.85rem;
            font-weight: 700;
        }
    }
}