@import './colors';
.container-dango-stick{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .container-stick-section{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .stick{
            width: 45%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
    
            img{
                max-width: 140px;
                max-height: 140px;
            }
        }
        .effect{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    

    .dango{
        width: auto;
        height: auto;
        position: absolute;
        z-index: 10;
    }

}


@media screen and (min-width: 481px){
    .container-dango-stick{
        .stick{
            img{
                max-width: 175px;
                max-height: 175px;
            }
        } 
    }
}
@media screen and (min-width: 769px){
    .container-dango-stick{
        .stick{
            img{
                max-width: 250px;
                max-height: 250px;
            }
        } 
    }
}
@media screen and (min-width: 1025px){
   
}
@media screen and (min-width: 1201px){
    .container-dango-stick{
        .stick{
            img{
                max-width: 275px;
                max-height: 275px;
            }
        } 
    }
}