@import './colors';
@import './font';
.container-effect-alert{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 200px;
    transform: translate(-50%, -50%);
    z-index: 15;
    background-color: $background-dango;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $border-dango-selection;
    font-family: $text;
    border: 4px solid $border-dango;
    border-radius: 25px;
    .container-title{
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            font-family: $text;
        }
    }
    .list{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .container-effect{
                width: 80%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 2px solid $border-dango;

            h3{
                font-style: 0.9rem;
                font-family: $text;
            }
        }
    }
    .container-btn{
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
       .btn{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 50%;
            padding: 15px;
            border-radius: 10px;
            background-color: $background-dango-selection;
            color: $border-dango-selection;
            font-size: 1.15rem;
            font-weight: 700;
            cursor: pointer;
       } 

    }
}