@import './colors';

.container-footer{
    width: 100%;
    height: 12vh;
    min-height: 90px;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $background-dango;
    color: $border-dango-selection;
    font-weight: 700;
    .top{
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        p{
            font-size: 0.8rem;

            &:first-child{
                margin-bottom: 5px;
                font-size: 1.25rem;
            }
        }
    }
    .bot{
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1rem;
        a{
            font-style: italic;
            text-decoration: none;
            cursor: pointer;
            &:visited{
                color: $orange;
            }
        }
    }
}

@media screen and (min-height:850px){
    .container-footer{
        position: absolute;
        bottom: 0;
        left: 0;
    }
}