@import './colors';
.container-header{
    width: 100%;
    height: 10vh;
    max-height: 125px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $yellow;
    position: sticky;
    z-index: 20;
    top: 0;
    left: 0;
    color: #fff;

    .contatiner-top-btn{
        width: 15%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-logo{
        width: 60%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-height: 100%;
            max-width: 100%;
        }
    }
    .btn{
        color: #fff;
        border: none;
        border-radius: 10px;
        width: 100%;
        height: 75%;
        background: none;
        transition: all 250ms ease-in-out;
        &:hover{
            color: $background-navy;
        }
        i{
            font-size: 2rem;
        }
    }
}


@media screen and (min-width: 769px){
    .container-header{
        .btn{
            i{
                font-size: 3rem;
            }
        }

    }
}
