@import './colors';
@import './font';
body {
  background-color: $background-dango-selection;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4{
  font-family: $title;
}

p, button{
  font-family: $text;
}


button{
  border: none;
  cursor: pointer;
  &:focus {outline:0;}
}


@media screen and (min-width: 2000px){
  body{
    display: flex;
    justify-content: center;
  }
}